button#shipping\ cart{
    border: none;
    width: 180px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(5, 141, 5), rgb(80, 106, 74));
    padding: 10px 10px;
    /* margin-left: 15px; */
    margin-bottom: 60px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    position: sticky;
    top:70%;
}
button#shipping\ cart:hover{
    background-image: linear-gradient(to left, rgb(0, 214, 0), rgb(60, 140, 93));
    transition: 0.3s ease-in;
}